/* .landingPageGrid {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding-top: 60px;
}

.landingPageHeaderContainer {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: lightcoral;
}

.splashHeaderImage {
	margin-top: 60px;
	height: 10px;
	width: 10px;
} */
