/* .leftFraction {
	grid-column-start: 2;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	justify-content: flex-start;
} */
/*
.rightFraction {
	grid-column-start: 7;
	grid-column-end: 8;
	display: flex;
	align-items: center;
	justify-content: flex-end;
} */
